html {
    box-sizing: border-box;
    /* https://css-tricks.com/box-sizing/ */
}

body {
    margin: 0 auto;
    font-family: 'Roboto';
    background-color: #eef0f6;
    color: black;
    padding: 1em;
    width: 90%;
    margin-bottom: 2em;
}


/* --- Dark Mode Colors --- */

/* Background */
body[data-darkMode="on"] {
    background-color: rgb(40, 40, 40);
}

body[data-darkMode="on"] h1 {
    filter: drop-shadow(10px 5px 4px rgba(0, 0, 0, 0.3));
}

body[data-darkMode="on"] p,
body[data-darkMode="on"] i {
    color: white;
}

body[data-darkMode="on"] .darkMode,
body[data-darkMode="on"] .filters,
body[data-darkMode="on"] .columns {
    background: rgb(20, 20, 20);
}

body[data-darkMode="on"] [type="radio"]:checked + label:after,
body[data-darkMode="on"] [type="radio"]:not(:checked) + label:after {
    background: #0396d4;
}

body[data-darkMode="on"] .hotKeys {
    background: rgb(20, 20, 20);
    color: white;
}

body[data-darkMode="on"] article {
    background-color: #1a1a1a;
}

body[data-darkMode="on"] article:hover {
    background-color: #141414;
}

/* --- Filters --- */

body[data-filter="horror"] article:not(.horror),
body[data-filter="crime"] article:not(.crime),
body[data-filter="drama"] article:not(.drama),
body[data-filter="action"] article:not(.action),
body[data-filter="thriller"] article:not(.thriller),
body[data-filter="adventure"] article:not(.adventure) {
    display: none;
}

/* --- Columns --- */

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

@media screen and (min-width: 40em) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    article img {
        width: 270px;
        height: auto;
    }
}

@media screen and (min-width: 65em) {
    body[data-columns="twee"] section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    body[data-columns="twee"] article img {
        width: 270px;
        height: auto;
    }

    body[data-columns="drie"] section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    body[data-columns="vier"] section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    body[data-columns="vier"] article img {
        width: 12em;
        height: auto;
    }
}


/* Naam Website */
h1 {
    color: #0396d4;
    font-family: 'Sen', cursive;
    letter-spacing: .05em;
    text-align: center;
    font-size: 4em;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
    overflow: hidden;
}

/* little animation from: https://codepen.io/geoffgraham/pen/YOwWeb?editors=0100 */
h1::before {
    content: '';
    background-image: url('https://cdn.icon-icons.com/icons2/1686/PNG/512/12008thumbsup_111446.png');
    background-position: 0 30%;
    background-repeat: no-repeat;
    left: 0;
    position: absolute;
    bottom: -14vh;
    width: 100vw;
    background-size: 60px;
    height: 200px;
    transform: translateX(1550px);
    transition: transform .3s;
}

h1:hover::before {
    transform: translateX(800px);
}


/* --- DarkMode, Filters, etc. --- */
.filtersAndMore {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1.5px solid black;
    padding-bottom: 15px;
}


.darkMode {
    background: #0396d4;
    padding: 10px;
    width: 80px;
    height: 85px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    color: white;
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.6);
}

.columns {
    background: #0396d4;
    padding: 10px;
    width: 150px;
    height: 85px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    color: white;
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.6);
}

.filters {
    background: #0396d4;
    padding: 10px;
    width: 600px;
    height: 100px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    color: white;
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 43em) {
    .filters {
        height: 85px;
    }
}

.filters h2,
.columns h2 {
    margin: 0 0 20px 0;
}

.filters p {
    display: inline-block;
}

.darkMode i {
    font-size: 20px;
}

.darkMode p {
    font-size: 15px;
    margin: 5px;
}

/* DarkMode Toggle */
.theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 40px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: rgb(210, 210, 210);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 14px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 14px;
}

input:checked + .slider {
    background-color: #0396d4;
    ;
}

input:checked + .slider:before {
    transform: translateX(19px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Columns and Genres Radio Buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 24px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: white;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: rgb(150, 150, 150);
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

[type="radio"]:disabled + label {
    opacity: 0.5;
    pointer-events: none;
}

.information i {
    font-size: 40px;
    color: #0396d4;
}

.information {
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}

/* info text pop up from: https://www.w3schools.com/css/css_tooltip.asp */
.hotKeys {
    visibility: hidden;
    width: 130px;
    background-color: #0396d4;
    color: #fff;
    box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    top: -5px;
    left: 135%;
    position: absolute;
    z-index: 1;

    transition: opacity 0.2s ease-in;
    opacity: 0;
}

.information:hover .hotKeys {
    visibility: visible;
    opacity: 1;
}


/* --- Section met de films --- */

section {
    margin-top: 2em;
}

article {
    background: #d5d9e7;
    border-radius: 10px;
    padding: 10px;
    transition: 0.2s ease-out;
    height: 600px;
    overflow-y: scroll;
}

article::-webkit-scrollbar {
    display: none;
}

article:hover {
    background: #bdc1d1;
    transform: scale(1.03);
    cursor: pointer;
}

article h2 {
    color: #0396d4;


    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

article p {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

article img {
    width: 250px;
    height: auto;
    display: block;
    margin: auto;
}

#rDg1,
#rDg2,
#rDg3,
#rDg4,
#rDg5,
#rDg6 {
    font-size: 18px;
    font-weight: 500;
}

/* Loading screen */

.content {
    position: relative;
    z-index: 2;
    top: 0;
}

.overlay {
    position: absolute;
    z-index: 3;
    background:  #eef0f6;
    width: 90%;
    height: 100%;
    transition: opacity 0.4s ease-out;
}

/* loader from https://loading.io/css/ */

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 46%;
    top: 35%;
    transform: translate(-50, -50);
    opacity: 100%;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(20, 30, 40);
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

.lds-roller p {
    text-align: center;
    margin-top: 90px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
/*    visibility: hidden;*/
    opacity: 0%;
}
